<h1>Add courses</h1>
<form action="/add" method="post">
	<div class="input-field">
		<input  id="title" type="text" name="title" class="validate" required>
		<label for="title">Course name</label>
		<span class="helper-text" data-error="Type name" >Helper text</span>
	</div>

	<div class="input-field ">
		<input id="price" type="text" name="price" class="validate" required>
		<label for="price">Course price</label>
		<span class="helper-text" data-error="Type price" >Helper text</span>
	</div>

	<div class="input-field">
		<input id="img" type="text" name="url" class="validate" required>
		<label for="img">Image URL</label>
		<span class="helper-text" data-error="Type url" data-success="right">Helper text</span>
	</div>
	<button class="btn btn-primary" type="submit">Add course</button>
</form>
